* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* -----------NAVBAR------------- */

.navbar-full {
  position: fixed;
  top: 0px;

  background: #fff;
  z-index: 2;
}

nav {
  /* border: 5px solid purple; */
  display: inline-flex;
  height: 70px;
  width: 100vw;
  position: relative;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.6);
}

nav .menu {
  position: absolute;
  top: 17px;
  left: 20px;
  padding: 5px;
}

nav i:hover {
  background: #eee;
  border-radius: 50%;
}

nav .material-icons {
  font-size: 25px;
  color: #777;
}

nav .GLogo {
  height: 35px;
  position: absolute;
  top: 17px;
  left: 70px;
  padding: 5px;
}

nav a span {
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #777;
  position: absolute;
  font-size: 25px;
  top: 18px;
  left: 150px;
}

nav form {
  display: inline-flex;
  margin: 10px;

  position: absolute;
  left: 225px;
  border: 1px solid #aaa;
  border-radius: 10px;
}

nav form input {
  border-style: hidden;
  width: 40vw;
  max-width: 900px;
  min-width: 200px;
  padding: 10px;
  border-radius: 15%;
  /* add media query for this case */
}

nav form input:focus {
  outline: none;
}

nav form .submit {
  border-color: transparent;
  background: #fff;
  padding: 5px;
  border-radius: 50%;
}

nav .app {
  position: absolute;
  top: 17px;
  /* right: calc(100%-70px); */
  right: 80px;
  padding: 5px;
}

nav .dp {
  position: absolute;
  right: 15px;
  top: 10px;
  border-radius: 50%;
}

@media (max-width: 700px) {
  nav .app {
    left: 570px;
  }

  nav .dp {
    left: 635px;
  }
  nav {
    /* border: 5px solid purple; */
    width: 700px;
  }
  li div {
    margin-left: 20px;
  }
}

/* ------------ SIDEBAR -------------- */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

.nav-links {
  position: fixed;
  color: #555;
  padding: 15px;
  overflow: scroll;
  overflow-x: hidden;
  background: #fff;
  display: block;
  width: 200px;
  height: 90vh;
  transition: 0.5s;
  z-index: 1;
  /* box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2); */
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.nav-links i {
  cursor: pointer;
}

.nav-links ul li {
  list-style-type: none;
  padding: 10px 20px;
}

.nav-links ul li:hover {
  color: blue;
}

/* ------------- NEWS LIST ----------------- */

.container #headline {
  margin-left: 250px;
  margin-top: 100px;
  font-size: 2rem;
  text-transform: capitalize;
}

.news-list > li {
  margin-top: 20px;
}

.news-list > li:first-child {
  margin-top: 7vh;
}

/* ---------------- BAR --------------- */

.bar {
  font-size: 2rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bar span:hover {
  color: #f00;
}
